.footer {
  margin: 50px 0;
  font-style: $main-font;
  .rights {
    color: $menu-text-color;
  }
  .footer-menu {
    align-items: center;
    justify-content: flex-end;
    a {
      color: $text-active-color;
      text-decoration: none;
      padding-left: 30px;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .footer {
    .footer-menu {
      display: flex;
      flex-direction: column;
    }
  }
}
