.header {
  margin: 50px 0 150px 0;
  font-style: $main-font;
}
.title {
  color: #000;
  font-weight: bold;
  letter-spacing: 15px;
  text-decoration: none;
}
.menu {
  letter-spacing: 8px;
  align-items: center;
  justify-content: flex-end;
  a {
    color: $menu-text-color;
    padding: 5px 20px;
    text-decoration: none;
  }
  .active {
    color: $text-active-color;
  }
}

.name {
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}
