.modal-sum {
  background-color: rgba(200,200,200,1);
  border: 2px solid #000;
  position: fixed;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 100%;
  max-height: 95%;
  .modal-footer {
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    button {
      cursor: pointer;
      margin: 0 10px;
      padding: 10px;
      background-color: rgba(150, 150, 150, 1);
    }
  }
}

#modal-head {
  position: relative;
  left: 47%;
  font-size: 30px;
  button {
    position: absolute;
    background-color: rgba(200, 95, 133, 1);
    bottom: 90%;
    right: 47%;
    border-radius: 25%;
    cursor: pointer;
  }
}
.summary-title {
  font-size: 18px;
  justify-content: center;
  border-bottom: 1px solid #000;
  padding: 5px;
  .summary-product {
    align-items: center;
    justify-content: center;
  }
  .summary-product-pick {
    align-items: center;
    justify-content: flex-start;
  }
}
.sum-product {
  border-bottom: 1px solid #000;
  .sum-image {
    margin: 5px;
    padding: 10px;
  }
  .sum-title {
    padding: 0 50px;
  }
  .sum-product-name {
    align-items: center;
    justify-content: flex-start;
  }
  .sum-product-data {
    align-items: center;
    justify-content: center;
  }
}
.total-price {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
