@import 'normalize';
@import 'variables';
@import 'layout';


@import './components/flag';
@import './sections/main';
@import './sections/guitarList';
@import './sections/guitarItem';
@import './sections/sort';
@import './sections/product';
@import './sections/header';
@import './sections/footer';
@import './sections/home';


.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
