@import 'normalize';
@import 'variables';
@import 'layout';

@import './sections/main';
@import './sections/header';
@import './sections/footer';
@import './sections/home';


.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
